<!-- The Modal -->
<div class="modal show" id="taskModal">
  <div class="modal-dialog" style="width:1250px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Task Registeration</h4>
        <button type="button" class="close" (click)="hideModals()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="">
          <div>
            <h1>Task Registeration!</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSave()">
              <input type="hidden" name="_token" value="">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': r.name.errors }" />
                <div *ngIf="r.name.errors" class="invalid-feedback">
                  <div *ngIf="r.name.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': r.description.errors }" />
                <div *ngIf="r.description.errors" class="invalid-feedback">
                </div>
              </div>
              <div class="form-group">
                <label for="attachment">Attachment</label>
                <input type="text" formControlName="attachment" class="form-control" [ngClass]="{ 'is-invalid': r.attachment.errors }" />

              </div>
              <div class="form-group">
                <label for="priority">Priority</label>
                <input type="text" formControlName="priority" class="form-control" />
              </div>
              <div class="form-group">
                <label for="startdate">startdate</label>
                <input type="date" formControlName="startdate" class="form-control" />
              </div>
              <div class="form-group">
                <label for="enddate">enddate</label>
                <input type="date" formControlName="enddate" class="form-control" />
              </div>
              <div class="form-group">
                <label for="status">status</label>
                <input type="text" formControlName="status" class="form-control" />
              </div>

              <div class="form-group">
                <div>
                  <input type="submit" class="btn btn-success" value="Save" />

                </div>
              </div>
            </form>

          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" (click)="sendModal()" >Send</button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button>-->
        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>
