<!--<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form class="form-inline mt-2 mt-md-0 pull-right">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logoff()">Logoff</button>
      </form>
    </div>
  </nav>
</header>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">SoleFiteness</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }"> -->
  <div class="collapse navbar-collapse ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active dropdown">
        <a class="nav-link" routerLink="" routerLinkActive="active">Government E-invoicing <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"><i class="fa fa-phone"></i><span>Call us:</span><a href="tel:++65 9270 3242">+65 9270 3242</a></a>
      </li>
      <!-- <li class="nav-item left">
        <a class="nav-link" routerLink="showroom" routerLinkActive="active">Show room</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hotdeals" routerLinkActive="active">Hot deals</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active">Cart</a>
        </li> -->
    </ul>
  </div>
</nav>
