<!--<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Therichpost </div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/home']" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Home</a>
      <a [routerLink]="['/admin']" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Admin</a>
      <a [routerLink]="['/user']" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">User</a>
      <a [routerLink]="['/task']" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Task</a>
      <a [routerLink]="['/order']" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Order</a>
    </div>
  </div>
</div>-->
<!-- /#wrapper -->
<div style="min-height: 480px;" class="bg-success">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a [routerLink]="['/home']" style="text-decoration:none;" routerLinkActive="active" class="list-group-item list-group-item-action bg-success">Home</a></li>
    <!--<li class="nav-item" *ngIf="adminRole"><a [routerLink]="['/admin']" routerLinkActive="active" class="list-group-item list-group-item-action bg-success">Admin</a></li>-->
    <li class="nav-item" *ngIf="adminRole"><a [routerLink]="['/user']" routerLinkActive="active" class="list-group-item list-group-item-action bg-success">User</a></li>
    <li class="nav-item"><a [routerLink]="['/task']" routerLinkActive="active" class="list-group-item list-group-item-action bg-success">Task</a></li>
    <li class="nav-item"><a [routerLink]="['/order']" routerLinkActive="active" class="list-group-item list-group-item-action bg-success">Order</a></li>
    <li class="nav-item" *ngIf="adminRole"><a [routerLink]="['/report']" routerLinkActive="active" class="list-group-item list-group-item-action bg-success">Report</a></li>
  </ul>
</div>
