
<div class="row padding-0">
  <div class="col-lg-1">
    <app-side></app-side>
  </div>
  <div class="col-lg-11">
    <div>
      <div class="mt-4">
        <a class="btn btn-success" *ngIf="isAddEditForm==false" href="#" style="float:right;" data-toggle="modal" (click)="showAddWindow()">
          Add Order
        </a>
        <a class="btn btn-success" *ngIf="isAddEditForm==true" href="#" style="float:right;" data-toggle="modal" (click)="showTaskListWindow()">
          Back to order list
        </a>
      </div>
      <div *ngIf="isAddEditForm==false" class="scrollme" #epltable>
        <h3>Orders:</h3>
        <!--<div class="form-group form-inline">
          <input class="form-control ml-2" type="text" name="name" [(ngModel)]="name" (ngModelChange)="searchOrder()" placeholder="Please enter task name to filter." />
        </div>-->
        <button (click)="exportToExcel()" class="btn btn-success">Export To Excel</button>
        <table class="table table-striped table-border table-responsive" style="width:100%;">
          <thead>
            <tr>
              <th style="width:10%;">#</th>
              <th style="width:10%;">Name</th>
              <th style="width:10%;">Description</th>
              <th style="width:10%;">SKU ID</th>
              <th style="width:10%;">Order No</th>
              <th style="width:10%;">Invoice No></th>
              <th style="width:10%;">Platform</th>
              <th style="width:10%;">Customer Name</th>
              <th style="width:10%;">Customer Email</th>
              <th style="width:10%;">Contact No</th>
              <th style="width:10%;">Order Date</th>
              <th style="width:10%;">Status</th>
              <th style="width:10%;">Assigned To</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{ order.order_id }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.description }}</td>
              <td>{{ order.sku_id }}</td>
              <td>{{ order.order_no}}</td>
              <td>{{ order.invoice_no }}</td>
              <td>{{ order.platform }}</td>
              <td>{{ order.customer_name }}</td>
              <td>{{ order.customer_email }}</td>
              <td>{{ order.customer_contact_no }}</td>
              <td>{{ order.order_date }}</td>
              <td>{{ order.order_status }}</td>
              <td>{{ order.assigned_to }}</td>
              <td>
                <!--<a class="btn btn-success" (click)="taskEdit(task)">Edit</a>-->
                <!--<a class="btn btn-danger" href="#">Delete</a>-->
              </td>
              <!--<td><ngb-highlight [result]="user.user_email"></ngb-highlight></td>
              <td><ngb-highlight [result]="user.contact_no"></ngb-highlight></td>-->
            </tr>
          </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="isAddEditForm==true">
        <h1>Order Registeration!</h1>
        <form [formGroup]="registerForm" (ngSubmit)="saveOrder()">
          <input type="hidden" name="_token" value="">
          <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': r.name.errors }" />
            <div *ngIf="r.name.errors" class="invalid-feedback">
              <div *ngIf="r.name.errors.required">Product name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="order_no">Order No</label>
            <input type="text" formControlName="order_no" class="form-control" />
          </div>
          <div class="form-group">
            <label for="sku_id">SKUID</label>
            <input type="text" formControlName="sku_id" class="form-control" [ngClass]="{ 'is-invalid': r.sku_id.errors }" />

          </div>
          <div class="form-group">
            <label for="inovice_no">Invoice No</label>
            <input type="text" formControlName="inovice_no" class="form-control" />
          </div>
          <div class="form-group">
            <label for="customer_name">Customer Name</label>
            <input type="text" formControlName="customer_name" class="form-control" />
          </div>
          <div class="form-group">
            <label for="customer_email">Customer Email</label>
            <input type="email" formControlName="customer_email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="customer_contact_no">Customer Contact No</label>
            <input type="text" formControlName="customer_contact_no" class="form-control" />
          </div>
          <div class="form-group">
            <label for="order_date">Order Date</label>
            <input type="date" formControlName="order_date" class="form-control" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': r.description.errors }" />
            <div *ngIf="r.description.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label for="assigned_to">Assigned To</label>
            <input type="text" formControlName="assigned_to" class="form-control" />
          </div>
          <div class="form-group">
            <label for="platform">Platform</label>
            <input type="text" formControlName="platform" class="form-control" />
          </div>
          <!--<div class="form-group">
            <label for="order_status">Order Status</label>
            <input type="text" formControlName="order_status" class="form-control" />
          </div>-->
          <div class="form-group">
            <label for="priority">Order Status</label>
            <select class="form-control" [(ngModel)]="selectedOrderStatusID" formControlName="orderStatusName" (change)="changeStatus($event)" id="orderStatusList">
              <option value="">Please select status</option>
              <option *ngFor="let assigneduser of orderStatus; let i = index" [value]="orderStatus[i].id">
                {{orderStatus[i].name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div>
              <input type="submit" class="btn btn-success" value="Save" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

