<div *ngIf="isvaliduser==false">
  <div class="row padding-0">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form [formGroup]="loginForm" (ngSubmit)="onSave()" class="form-signin">
            <div class="form-label-group">
              <label for="useremail">Email address</label>
              <input type="email" formControlName="useremail" class="form-control" placeholder="Email address" [ngClass]="{ 'is-invalid': l.useremail.errors }" required>
              <div *ngIf="l.useremail.errors" class="invalid-feedback">
                <div *ngIf="l.useremail.errors.required">Email is required</div>
              </div>
            </div>

            <div class="form-label-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': l.password.errors }" required>
              <div *ngIf="l.password.errors" class="invalid-feedback">
                <div *ngIf="l.password.errors.required">Password is required</div>
              </div>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" style="cursor:pointer" type="submit">Sign in</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isvaliduser==true">
  <app-task></app-task>
</div>
