/* Sticky footer styles
-------------------------------------------------- */
.container {
 /* position: absolute;*/
  min-height: 550px;
}

.row {
  margin-top: 4%;
  min-height: 480px;
  margin-right:0px !important;
  margin-left:0px !important;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

/*.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
*/
/*code {
  font-size: 80%;
}
*/
