<div class="row padding-0">
  <div class="col-lg-2">
    <app-side></app-side>
  </div>
  <div class="col-lg-10">
    <div>
      <div class="mt-4">
        <a class="btn btn-success" *ngIf="isAddEditForm==false" href="#" style="float:right;" data-toggle="modal" (click)="showAddWindow()">
          Add Task
        </a>
        <a class="btn btn-success" *ngIf="isAddEditForm==true" href="#" style="float:right;" data-toggle="modal" (click)="showTaskListWindow()">
          Back to task list
        </a>
      </div>
      <div *ngIf="isAddEditForm==false">
        <h3>Tasks:</h3>
        <div class="form-group form-inline">
          <input class="form-control ml-2" type="text" name="name" [(ngModel)]="name" (ngModelChange)="searchTask()" placeholder="Please enter task name to filter." />
        </div>
        <table class="table table-striped table-border bordered">
          <thead>
            <tr>
              <th style="width:10%;">#</th>
              <th style="width:10%;">Title &nbsp; <i class="fa fa-sort"></i></th>
              <th style="width:10%;">Assigned To &nbsp; <i class="fa fa-sort"></i></th>
              <!--<th style="width:10%;">Description</th>
              <th style="width:10%;">Attachment</th>-->
              <th style="width:10%;">Priority &nbsp; <i class="fa fa-sort"></i></th>
              <th style="width:10%;">Start Date</th>
              <th style="width:10%;">Deadline</th>
              <th style="width:10%;">Status</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks  | paginate: { itemsPerPage: 5, currentPage: p }" [ngClass]="{'message': task.taskremainingtime < 0, 'warn': task.taskremainingtime > 1 && task.taskremainingtime < 30, 'error': task.taskremainingtime > 30}">
              <td>{{ task.task_id }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.assignedto }}</td>
              <!--<td>{{ task.description }}</td>
              <td>
                <a href="#" (click)="getTaskAttachments(task.task_id)" data-toggle="modal" data-target="#TaskAttachmentModal">View Files</a>

              </td>-->
              <!--<td>
                            <a href="{{task.task_attachment_link}}" target="_blank" download="w3logo" (click)="download(task.task_attachment)">
                {{task.task_attachment}}
              </a>
                          </td>-->
              <!--<td><span [ngClass]="task.priority">{{ task.priority }}</span></td>-->
              <td>{{ task.priority }}</td>
              <td>{{ task.task_startdate }}</td>
              <td>{{ task.task_enddate }}</td>
              <td>{{ task.task_status_name }}</td>
              <td>
                <a class="btn btn-success" ng-disabled="task.task_status_name == 'Completed'"  (click)="taskEdit(task)">Edit</a>
                <!--<a class="btn btn-danger" href="#">Delete</a>-->
              </td>
              <!--<td><ngb-highlight [result]="user.user_email"></ngb-highlight></td>
              <td><ngb-highlight [result]="user.contact_no"></ngb-highlight></td>-->
            </tr>
          </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

    <div *ngIf="isAddEditForm">
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="SaveTask()">
          <input type="hidden" name="_token" value="">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': r.name.errors }" />
            <div *ngIf="r.name.errors" class="invalid-feedback">
              <div *ngIf="r.name.errors.required">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': r.description.errors }" />
            <div *ngIf="r.description.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label for="priority">Assigned To</label>
            <select class="form-control" [(ngModel)]="selectedAssigneeID" formControlName="assignedToUserName" (change)="changeAssignedToUser($event)" id="assignedTolist">
              <option value="">Please select assignee</option>
              <option *ngFor="let assigneduser of assignedTolist; let i = index" [value]="assignedTolist[i].user_id">
                {{assignedTolist[i].user_name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="attachment">Attachment</label>
            <!--<input type="text" formControlName="attachment" class="form-control" [ngClass]="{ 'is-invalid': r.attachment.errors }" />-->
            <input type="file" class="form-control input-lg" name="attachment" (change)="onFileSelect($event)" />
          </div>
          <div *ngIf="isEditScreen==true">
            <div *ngFor="let attachment of attachments">
              <a href="{{attachment.filepath}}" target="_blank" download="w3logo" (click)="download(attachment.filepath)">
                {{attachment.filename}}
              </a>
            </div>
          </div>
          <div class="form-group">
            <label for="priority">Priority</label>
            <!--<input type="text" formControlName="priority" class="form-control" />-->
            <select class="form-control" [(ngModel)]="selectedTaskPriorityID" formControlName="priorityName" (change)="changePriority($event)" id="taskpriorities">
              <option value="">Please select priority</option>
              <option *ngFor="let category of taskpriorities; let i = index" [value]="taskpriorities[i].id">
                {{taskpriorities[i].name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="startdate">Start Date</label>
            <input type="datetime-local" formControlName="startdate" class="form-control" />
          </div>
          <div class="form-group">
            <label for="enddate">Deadline</label>
            <input type="datetime-local" formControlName="enddate" class="form-control" />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <!--<input type="text" formControlName="status" class="form-control" />-->
            <select *ngIf ="isEditScreen==true" class="form-control" [(ngModel)]="selectedTaskStatusID" formControlName="statusName" (change)="changeStatus($event)" id="taskstatuslist">
              <option value="">Please select status</option>
              <option *ngFor="let status of taskstatuslist; let i = index" [value]="taskstatuslist[i].id">
                {{taskstatuslist[i].name}}
              </option>
            </select>
            <select *ngIf ="isEditScreen==false" class="form-control" disabled="disabled" [(ngModel)]="selectedTaskStatusID" formControlName="statusName" (change)="changeStatus($event)" id="taskstatuslist">
              <option value="{{selectedTaskStatusID}}">New</option>
              <!--<option *ngFor="let status of taskstatuslist; let i = index" [value]="taskstatuslist[i].id">
                {{taskstatuslist[i].name}}
              </option>-->
            </select>
          </div>
          <div class="form-group" *ngIf="isTaskCompleted==true">
            <label for="workhours">Work Hours</label>
            <input type="number" formControlName="workhours" class="form-control" />
          </div>

          <div class="form-group">
            <div>
              <input type="submit" class="btn btn-success" value="Save" />
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-taskregister></app-taskregister>


<!--The below content is to display task attachment documents.-->
<div class="modal show" id="TaskAttachmentModal">
  <div class="modal-dialog" style="width:1250px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Task Attachments</h4>
        <button type="button" class="close" (click)="hideModalAttachments()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="">
          <div>
            <table class="table table-striped table-border bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>File</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attachment of attachments">
                  <td>{{ attachment.id }}</td>
                  <td>
                    <a href="{{attachment.filepath}}" target="_blank" download="w3logo" (click)="download(attachment.filepath)">
                      {{attachment.filename}}
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-success">Remove</a>
                  </td>
                </tr>
              </tbody>
              <!--<pagination-controls (pageChange)="q = $event"></pagination-controls>-->
            </table>

          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>
