.High {
  color: red;
}

.Medium {
  color: blue;
}

.Low {
  color: green;
}

.message {
  background-color: red !important;
  color: white;
}

.warn {
  background-color: #ffc107 !important;
  color: white;
}

.error {
  background-color: white !important;
  color: black;
}
