<div class="row padding-0">
  <div class="col-lg-1">
    <app-side></app-side>
  </div>
  <div class="col-lg-11">
    <div>
      <div class="mt-4">
        <a class="btn btn-success" *ngIf="isAddEditForm==false" href="#" style="float:right;" data-toggle="modal" (click)="showAddWindow()">
          Add Task
        </a>
        <a class="btn btn-success" *ngIf="isAddEditForm==true" href="#" style="float:right;" data-toggle="modal" (click)="showTaskListWindow()">
          Back to task list
        </a>
      </div>
      <div *ngIf="isAddEditForm==false">
        <h3>Tasks</h3>
        <div class="form-group form-inline">
          <form class="form-inline" [formGroup]="taskSearchForm" (ngSubmit)="GetTaskReportData()">
            <input class="form-control ml-1" type="text" formControlName="name" name="name" placeholder="Task name" />
            <input class="form-control ml-1" type="text" formControlName="task_display_id" name="task_display_id" placeholder="Task ID" />

            <select class="form-control ml-2" name="assignedToUserName" formControlName="assignedToUserName" (change)="changeAssignedToUser($event)" id="assignedTolist">
              <option value="0">Select Assignee</option>
              <option *ngFor="let assigneduser of assignedTolist; let i = index" [value]="assignedTolist[i].user_id">
                {{assignedTolist[i].user_name}}
              </option>
            </select>

            <select class="form-control" formControlName="statusName" name="statusName" (change)="changeStatus($event)" id="taskstatuslist">
              <option value="0">Select Status</option>
              <option *ngFor="let status of taskstatuslist; let i = index" [value]="taskstatuslist[i].id">
                {{taskstatuslist[i].name}}
              </option>
            </select>
            <input class="form-control ml-1" type="date" formControlName="startdate" placeholder="Start Date" />
            <input class="form-control ml-1" type="date" formControlName="enddate" placeholder="End Date" />

            <button type="button" class="btn btn-primary" (click)="GetTaskReportData()">Search</button>
            <button type="button" class="btn btn-primary" (click)="clearSearch()">Clear</button>
          </form>
        </div>
        
        <table class="table table-striped table-border">
          <thead>
            <tr>
              <th style="width:5%;">#</th>
              <th style="width:10%;" (click)="sort('name')">Title &nbsp; <i class="fa fa-sort"></i></th>
              <th style="width:10%;">Assigned To </th>
              <th style="width:10%;">QC To</th>
              <!--<th style="width:10%;">Description</th>
  <th style="width:10%;">Attachment</th>-->
              <th style="width:5%;">Priority</th>
              <th style="width:5%;">Frequency</th>
              <th style="width:20%;">Deadline</th>
              <th style="width:5%;">Status</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
            <!--<tr *ngFor="let task of tasks  | paginate: { itemsPerPage: 5, currentPage: p }" [ngClass]="{'message': task.taskremainingtime < 0, 'warn': task.taskremainingtime > 1 && task.taskremainingtime < 30, 'error': task.taskremainingtime > 30}">-->
            <tr *ngFor="let task of tasks | orderBy: key: reverse  | paginate: { itemsPerPage: 10, currentPage: p }" [ngClass]="{'message': task.taskremainingtime < 0, 'warn': task.taskremainingtime > 1 && task.taskremainingtime < 30, 'error': task.taskremainingtime > 30}">
              <td>{{ task.task_display_id }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.assignedto }}</td>
              <td>{{ task.qcassignedto }}</td>
              <td>{{ task.priority }}</td>
              <td>{{ task.frequency }}</td>
              <!--<td>{{ task.task_startdate }}</td>-->
              <td>{{ task.task_enddate }}</td>
              <td>{{ task.task_status_name }}</td>
              <td>
                <a class="" ng-disabled="task.task_status_name == 'Completed'" (click)="taskEdit(task)"><img style="width:30px; height:30px;" src="./assets/images/edit.png" alt="Edit"></a>
                <a class=" " href="#" (click)="getTaskWorkLog(task.task_id)" data-toggle="modal" data-target="#TaskLogsModal"><img style="width:30px; height:30px;" src="./assets/images/log.png" alt="Log"></a>
                <a *ngIf="isAdminRole" (click)="taskDelete(task)" class=" " href="#"><img style="width:30px; height:30px;" src="./assets/images/delete.png" alt="Delete"></a>
                <!--<a *ngIf="isAdminRole" (click)="closeTask(task)" class=" " href="#"><img style="width:30px; height:30px;" src="./assets/images/close_icon.jpg" alt="Delete"></a>-->
              </td>
              <!--<td><ngb-highlight [result]="user.user_email"></ngb-highlight></td>
  <td><ngb-highlight [result]="user.contact_no"></ngb-highlight></td>-->
            </tr>
          </tbody>

        </table>
        <pagination-controls style="float: right !important;" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

    <div class="col-lg-6" *ngIf="isAddEditForm">
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="SaveTask()">
          <input type="hidden" name="_token" value="">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': r.name.errors }" />
            <div *ngIf="r.name.errors" class="invalid-feedback">
              <div *ngIf="r.name.errors.required">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': r.description.errors }"></textarea>
            <!--<input  />-->
            <div *ngIf="r.description.errors" class="invalid-feedback">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="priority">Assigned To</label>
              <select class="form-control" [(ngModel)]="selectedAssigneeID" formControlName="assignedToUserName" (change)="changeAssignedToUser($event)" id="assignedTolist">
                <option value="0">Select assignee</option>
                <option *ngFor="let assigneduser of assignedTolist; let i = index" [value]="assignedTolist[i].user_id">
                  {{assignedTolist[i].user_name}}
                </option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="priority">Priority</label>
              <!--<input type="text" formControlName="priority" class="form-control" />-->
              <select class="form-control" [(ngModel)]="selectedTaskPriorityID" formControlName="priorityName" (change)="changePriority($event)" id="taskpriorities">
                <option value="0">Select priority</option>
                <option *ngFor="let category of taskpriorities; let i = index" [value]="taskpriorities[i].id">
                  {{taskpriorities[i].name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="priority">QC Assigned To</label>
              <select class="form-control" [(ngModel)]="selectedQCAssigneeID" formControlName="qcassignedToUserId" id="qcassignedToList">
                <option value="0">Select QC assignee</option>
                <option *ngFor="let assigneduser of qcassignedToList; let i = index" [value]="qcassignedToList[i].user_id">
                  {{qcassignedToList[i].user_name}}
                </option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="priority">Frequency</label>
              <select class="form-control" [(ngModel)]="selectedFrequencyID" formControlName="frequency">
                <option value="0">Select Frequency</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Bi-Weekly">Bi-Weekly</option>
                <option value="Monthly">Monthly</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="attachment">Attachment</label>
            <!--<input type="text" formControlName="attachment" class="form-control" [ngClass]="{ 'is-invalid': r.attachment.errors }" />-->
            <input type="file" class="form-control input-lg" name="attachment" (change)="onFileSelect($event)" />
          </div>
          <div *ngIf="isEditScreen==true">
            <div *ngFor="let attachment of attachments">
              <a href="{{attachment.filepath}}" target="_blank" download="w3logo" (click)="download(attachment.filepath)">
                {{attachment.filename}}
              </a>
            </div>
          </div>
          <div class="form-group">

          </div>
          <div class="form-group row">
            <!--<div class="col-sm-6">
              <label for="startdate">Start Date</label>
              <input type="datetime-local" formControlName="startdate" class="form-control" />
            </div>-->
            <div class="col-sm-6">
              <label for="enddate">Deadline</label>
              <input type="datetime-local" formControlName="enddate" class="form-control" />
            </div>
            <div class="col-sm-6">
              <label for="status">Status</label>
              <select *ngIf="isEditScreen==true" class="form-control" [(ngModel)]="selectedTaskStatusID" formControlName="statusName" (change)="changeStatus($event)" id="taskstatuslist">
                <option value="">Please select status</option>
                <option *ngFor="let status of taskstatuslist; let i = index" [value]="taskstatuslist[i].id">
                  {{taskstatuslist[i].name}}
                </option>
              </select>
              <select *ngIf="isEditScreen==false" class="form-control" disabled="disabled" [(ngModel)]="selectedTaskStatusID" formControlName="statusName" (change)="changeStatus($event)" id="taskstatuslist">
                <option value="{{selectedTaskStatusID}}">New</option>
                <!--<option *ngFor="let status of taskstatuslist; let i = index" [value]="taskstatuslist[i].id">
                  {{taskstatuslist[i].name}}
                </option>-->
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="isNewTask==false">
            <label for="workhours">Work Hours</label>
            <input type="number" formControlName="workhours" class="form-control" />
          </div>

          <div class="form-group">
            <div>
              <input type="submit" class="btn btn-success" value="Save" />
              <input type="button" class="btn btn-secondary" (click)="resetAddForm()" value="Cancel" />
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-taskregister></app-taskregister>


<!--The below content is to display task attachment documents.-->
<div class="modal show" id="TaskAttachmentModal">
  <div class="modal-dialog" style="width:1250px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Task Attachments</h4>
        <button type="button" class="close" (click)="hideModalAttachments()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="">
          <div>
            <table class="table table-striped table-border bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>File</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attachment of attachments">
                  <td>{{ attachment.id }}</td>
                  <td>
                    <a href="{{attachment.filepath}}" target="_blank" download="w3logo" (click)="download(attachment.filepath)">
                      {{attachment.filename}}
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-success">Remove</a>
                  </td>
                </tr>
              </tbody>
              <!--<pagination-controls (pageChange)="q = $event"></pagination-controls>-->
            </table>

          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>

<!--The below content is to display task worklogs.-->
<div class="modal show" id="TaskLogsModal" style="width:1250px;">
  <div class="modal-dialog" style="width:1250px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" style="background-color: gainsboro;">
        <h4 class="modal-title">{{taskDisplayID}} : {{taskTitle}}</h4>
        <button type="button" class="close" (click)="hideModalTaskLogs()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="">
          <div>
            <div>
              <span><strong>Assigned To: </strong>{{taskAssignedTo}}</span><br />
              <span><strong>Priority: </strong>{{taskPriority}}</span><br />
              <span><strong>Status: </strong>{{taskStatus}}</span><br />
            </div>
            <br />
            <div>
              <table class="table table-striped table-border bordered">
                <thead>
                  <tr>
                    <th>Upated Date</th>
                    <th>Description</th>
                    <th>Updated By</th>
                    <th>Attachment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tasklog of tasklogs">
                    <td> {{tasklog.created_date}} </td>
                    <td>{{ tasklog.description }}</td>
                    <td> {{tasklog.createdby}} </td>
                    <td *ngIf="tasklog.filepath != ''">
                      <a href="{{tasklog.filepath}}" target="_blank" download="w3logo" (click)="download(tasklog.filepath)">
                        <!--<img style="width:30px; height:30px;" src="./assets/images/download_icon.jpg" alt="solefitness">-->
                        {{tasklog.filename}}
                      </a>
                    </td>
                  </tr>
                </tbody>
                <!--<pagination-controls (pageChange)="q = $event"></pagination-controls>-->
              </table>
            </div>

            <!--<div *ngFor="let tasklog of tasklogs">
              <h6><strong>{{tasklog.createdby}}</strong></h6>
              <h6><strong>{{tasklog.created_date}}</strong></h6>
              <p>Description:</p>
              <p>{{tasklog.description}}</p>
            </div>-->
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>
